# Test dependencies
coverage==3.7.1
coveralls

# Package dependencies -- keep these reasonably up to date, if not bleeding-
# edge -- also try to maintain compatibility with all the Python versions we
# support
Django>=3.2.25
httplib2
mysqlclient ; python_version >= '3.3'
psycopg2cffi
pycrypto
pycurl
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
